.container-fluid {
  text-align: center;
  vertical-align: center;
  padding-top: 20px;
  font-size: 1.5em;
}

button.roll {
  margin: 50px;
}

.dice {
  background-color: blue;
  color: white;
  height: 80px;
  width: 80px;
  margin: 50 auto;
  padding: 20px 0;
  float: right;
  border-radius: 18px;
}

.board {
  //background-color: aquamarine;
  position: relative;
  border: 2px solid black;
  padding: 10px;
}

.squares {
  //background-color: aquamarine;
  height: 50px;
  width: 50px;
  border: 1px solid teal;
  display: inline-block;
  margin: 3px;
  border-radius: 15px;
  color: teal;
  padding: 0 5px;
  font-size: 0.5em;

  &.salida {
    width: 250px;
    background: teal;
    color: white;
  }

  &.beer {
    background-image: url('../img/beer.png');
    background-size: cover;
  }

  &.kata {
    background: teal;
    background-image: url('../img/kata.png');
    background-size: cover;
  }


  &.oca63 {
    width: 250px;
    background: teal;
    color: white;
  }

  &.libros {
    background-image: url('../img/libros.png');
    background-size: cover;
  }

  &.wc {
    background-image: url('../img/wc.png');
    background-size: cover;
  }

  &.perroMalo {
    background-image: url('../img/perro2.png');
    background-size: cover;
  }

  &.marc {
    background: black;
    background-image: url('../img/marc.png');
    background-size: cover;
  }
}

.token {
  position: absolute;
  background-color: yellow;
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 15px;
}
